/*general*/
body{
    background-color: #deaf6f;
    color: white;
}
#user_img{
    width: 10em;
    height: 12em;
}
/*header*/
#title_site a{
    color: black;
    text-decoration: none;
}
#title_site a:hover{
    color: white;
}
header{
    background-color: #FB6007;
    text-align: center;
    align-items: center;
}
header img:hover{
    filter: invert(100%);
}

/*page css*/
.little_icon{
    margin-left: 1em;
    width: 2em;
    height: 2em;
}

#search_bar, #form_connexion, #form_inscription, #form_creation_match{
    background-color: #023C40;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 2em;
}
#form_connexion label, #form_inscription label, #form_creation_match label{
    background-color: #8ACB88;
}
.players{
    background-color: #2a9b61;
    border-radius: 3em;
}
.match{
    background-color: #196038;
}
.match:hover{
    background-color: #62965e;
}
.organizer{
    background-color: #FB6007;
    border-radius: 0.4em;
}
.date{
    display: block;
    float: right;
}
.hour{
    display: inline-block;
    border: 1px solid #0c5460;
    border-radius: 0.2em;
}
.nb{
    border: 2px solid rgba(47, 82, 105, 0.53);
    border-radius: 0.8em;
    float: right;
    background-color: #5e7a8d;
    padding: 0.2em;
}
.nb_registered{
    margin: 0;
    display: inline-block;
}
.nb_player_max{
    display: inline-block;
}
.nb_player_max::before{
    content: " / ";
    width: 2em;
}
.match_detail{
    background-color: #345e36;
    border-radius: 2em;
}
.btn_submit{
    background-color: #FDCA40;
    color: black;
}
.btn:hover{
    /*color: black;*/
}
.role{
    border: 1px solid #FB8500;
    border-radius: 2em;
    background-color: #FB8500;
}
.role ::before{
    content: "Role : ";
}
.stars_div{
    background-color: #5b805b;
    border-radius: 1em;
}
.star{
    filter: invert(100%);
}

.btn_other_option{
    background-color: #FB8500;
    color: white;
    float: right;
}
.btn_other_option:hover{
      background-color: #FB6007;
  }
.btn_other_option .little_icon{
    filter: invert(100%);
}

#notifications{
    width: 60%;
}

/*code: doc boostrap example*/
.divider {
    height: 3rem;
}

/*https://www.codingnepalweb.com/search-bar-autocomplete-search-suggestions-javascript/ : auto-complete css*/
.autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    width: 100%;
}
.autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #417B5A;
}